a {
    background-color:#456;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
a:hover{
    background-color: red;
}
#active {
    background-color: lightseagreen;
}

#welcome {
    color:#456;
    font-family: Georgia, 'Times New Roman', Times, serif;
}