a {
    background-color:#456;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
a:hover{
    background-color: red;
}
#active {
    background-color: lightseagreen;
}

#welcome {
    color:#456;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table,th, td {
    border: 5px ;
    height: 30px;
    border-radius: 10px;
    border-color: brown;
    border-collapse:collapse ;
}
th, td {
    background-color: lightblue;
}
#THeader{
    color: black;
    font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    height: 20px;
    
}
